sudo: required
language: node_js
node_js:
  - "stable"
services:
  - docker
cache:
  directories:
    - node_modules
deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    local_dir: dpl_cd_upload
    skip_cleanup: true
    on: &2
      repo: bounswe/bounswe2020group6
    bucket: akademise-frontend-bucket
    region: us-east-1
  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: akademise-frontend-bucket
    key: latest.zip
    bundle_type: zip
    application: akademise-frontend
    deployment_group: akademise-frontend-depgrp
    region: us-east-1
    on: *2
script:
  - zip -r latest *
  - mkdir -p dpl_cd_upload
  - mv latest.zip dpl_cd_upload/latest.zip
on:
  branch: frontend
