{% extends "base_template.html" %} 

{% block content %}

{% for result in context %}
<div class="card" style="width:100%;max-width:60em">
  <img src="{{ result.CountryCode}}" alt="Avatar">
  <div class="card-body">
      <h5 class="card-title">{{ result.Country }}</i></h5>
   <p class="card-text"><span>New Confirmed :</span> {{ result.NewConfirmed }}</p>
<p class="card-text">Total Confirmed : {{ result.TotalConfirmed }}</p>
<p class="card-text">New Deaths : {{ result.NewDeaths }}</p>
<p class="card-text">TotalDeaths : {{ result.TotalDeaths }}</p>
<p class="card-text">New Recovered : {{ result.NewRecovered }}</p>
<p class="card-text"> Date : {{ result.Date }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}
