{% extends "base_template.html" %} {% block navlinks %}

<div
  style="
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  "
>
  <style>
    .dropdown-toggle {
      box-shadow: none !important;
    }
  </style>

  <div class="dropdown show">
    <a
      class="btn btn-info dropdown-toggle ddbtn"
      style="
        background: transparent;
        border: none;
        color: black;
        outline: none;
      "
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Covid-19
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="coronavirusCountryLive">Search Country</a>
      <a class="dropdown-item" href="worldStats">Worldwide Overview</a>
      <a class="dropdown-item" href="coronavirus">Covid By Countries</a>
      <a class="dropdown-item" href="coronavirusByCountry"
        >Search Country-Detailed</a
      >
    </div>
  </div>

  <div class="dropdown show">
    <a
      class="btn btn-info dropdown-toggle ddbtn"
      style="
        background: transparent;
        border: none;
        color: black;
        outline: none;
      "
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Alt-Coins
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="{{ url_for('bitcoin_price') }}">BTC</a>
      <a class="dropdown-item" href="{{ url_for('coin_ranks') }}">Coin Ranks</a>
    </div>
  </div>

  <div class="dropdown show">
    <a
      class="btn btn-info dropdown-toggle ddbtn"
      style="
        background: transparent;
        border: none;
        color: black;
        outline: none;
      "
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Scholarly
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="{{ url_for('search') }}"
        >Academician Search</a
      >
    </div>
  </div>
</div>

{% endblock %} {% block content %}

{% for result in context %}
<div class="card" style="width:100%;max-width:60em">
  <img src="{{ result.CountryCode}}" alt="Avatar" style="width:10em;margin:auto;">
  <div class="card-body">
      <p style="font-size:20px"> <span style="color:black">{{ result.Country }} </h5>
   <p style="color:red"><span>New Confirmed :<span style="color:black"> {{ result.NewConfirmed }}</p>
<p style="color:red"><span>Total Confirmed : <span style="color:black"> {{ result.TotalConfirmed }}</p>
<p style="color:red"><span>New Deaths : <span style="color:black"> {{ result.NewDeaths }}</p>
<p style="color:red"><span>TotalDeaths : <span style="color:black"> {{ result.TotalDeaths }}</p>
<p style="color:red"><span>New Recovered : <span style="color:black">{{ result.NewRecovered }}</p>
<p style="color:red"><span> Date : <span style="color:black"> {{ result.Date }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}