{% extends "base_template.html" %} {% block navlinks %}

<li><a href="{{ url_for('form_post') }}">home</a></li>
<li><a href="{{ url_for('search') }}">search academician</a></li>
<li><a href="{{ url_for('coronavirus') }}">Covid19</a></li>

{% endblock %} {% block content %}

<div style="padding: 5%;">
  <h4 style="text-align: center;">Random Dad-Joke</h4>

  <div style="border: 1px solid rgb(0, 0, 0); width: 10em; margin: auto;">
    <details>
      <summary>
        {{ joke }}
      </summary>
      {{ punchline }}
    </details>
  </div>
  <div style="text-align: center;">
    <button style="margin-top: 2em;" onClick="window.location.reload();">
      Another
    </button>
  </div>
</div>

{% endblock %}
