{% extends "base_template.html" %} {% block navlinks %}

<li><a href="{{ url_for('form_post') }}">home</a></li>
<li><a href="{{ url_for('search') }}">search academician</a></li>
<li><a href="{{ url_for('coronavirus') }}">Covid19</a></li>

{% endblock %} {% block content %}

<table class="table" style="width: 75%; margin-top: 20px;">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Symbol</th>
      <th scope="col">Name</th>
      <th scope="col">Price (USD)</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for coin in context.coins %}
    <tr>
      <td>{{ coin.rank }}</td>
      <td>{{ coin.symbol }}</td>
      <td>{{ coin.name }}</td>
      <td>{{ coin.price }}</td>
      <td><a href="{{ coin.url }}">{{ coin.url }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
