{% extends "base_template.html" %} {% block navlinks %}

<li><a href="{{ url_for('form_post') }}">home</a></li>
<li><a href="coronavirusCountryLive">Search Country</a></li>
<li><a href="worldStats">Worldwide Overview</a></li>

{% endblock %} {% block content %}

<section class="search-bar">
  <form action="{{ url_for('coronavirusByCountry') }}" method="post">
    <div class="input-group mb-3">
      <input
        type="text"
        name="search_param"
        class="form-control"
        placeholder="Search"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Button</button>
      </div>
    </div>
  </form>
  {% if context.param %}
  <small style="margin: auto;">Results for "{{ context.param }}":</small>
  {% endif %}
</section>
<section class="search-results">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Total Confirmed</th>
        <th scope="col">Total Deaths</th>
        <th scope="col">Total Recovered</th>
      </tr>
    </thead>

    {% for result in context.world_stats %}
    <tbody>
      <tr>
        <td>{{ result.total_confirmed }}</td>
        <td>{{ result.total_deaths }}</td>
        <td>{{ result.total_recovered }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</section>

{% endblock %}